/*
{
  "name": "TidalCustomTheme",
  "author": "Carlos Miranda",
  "description": "Fully customizable theme for you to edit."
}
*/

:root {
    /* Scrollbar */
    --kl-scrollbar-width: 15px;
    --kl-scrollbar-color: #ffc8dd;
    --kl-scrollbar-background-color: #cdb4db;
	--kl-scrollbar-border-color: #f89cbf;

    /* Sidebar */
    --kl-sidebar-color: color-mix(
		in srgb,
		#f89cbf,
		transparent 0%
	);


    /* Home background */
    --kl-home-background-color: color-mix(
		in srgb,
		#fdb7e2,
		transparent 0%
	);

    /* Header background */
    --kl-header-background-color: color-mix(
		in srgb,
		#ff90ba,
		transparent 10%
	);

    /* Footer background */
    --kl-footer-background-color: color-mix(
		in srgb,
		#ff90ba,
		transparent 10%
	);

    /* Popup colors */
    --kl-popup-background-color: color-mix(
		in srgb,
		#f8adff,
		transparent 2%
	);

	/* Tile color (like the arrows, notification)  */
    --kl-tile-background-color: color-mix(
		in srgb,
		#f89cbf,
		transparent 0%
	);

	--kl-text-color: #8a0022;
    --kl-selected-text-color: #888af8;
	--kl-currently-playing-color: #fcffa4;
	--kl-hover-text-color: rgb(154, 164, 243);
	--kl-header-text-color: #846ffb;
	--kl-artist-color: var(--kl-text-color);  

	--blur-radius: 12px;
}


/* Text color */

/*Home,Explore,Videos*/
.wave-text-body-demi,
/*MyCollection titles*/
.wave-text-description-demi,
/*Playlist titles*/
.wave-text-description-medium,
/*CreatedBy*/
._createdBy_13b248a,
/*Playlist artist name*/
._item_39605ae,
/*Time on tracks*/
._rowContainer_ebb4cfc,
[class^="_titleColumn_"],
[class^="_albumText_"],
[class^="_dateAddedColumn_"],
[class^="_contributionText_"],
[class^="_releasedDateColumn_"],
[class^="_timeColumn_"],
[class*="_descriptionText_"],
[class*="_descriptionText_"]>span,
[class^="_selectItemTitle_"],
[class^="_actionTextInner_"],
[class^="_lyricsText_"]>div,
[class^="_lyricsText_"]>span,
.wave-text-headline-bold,
[class^="_indexNumber_"],
.wave-text-body-medium,
div [class*="_searchField_"]::placeholder,
div [class*="_searchField_"],
[class^="_smallButtons_"]>button>div>span,
[class^="_headerContainer_"]>[class^="_dataContainer_"]>[class^="_detailContainer"]>h2,
[class^="_headerContainer_"]>[class^="_dataContainer_"]>[class^="_detailContainer"]>div>div>span,
[class*="_description_"],
/* song on artist */
[class^="_titleColumn_"]>div>span,
[class^="_buttons_"]>button>span,
[class^="_buttons_"]>a>span,
[class^="_primaryButtons_"]>[class^="_marketButton_"]>span,
[class^="_biography_"]>span>p,
[class^="_marketLink_"]>span,
[class^="_marketText_"],
[class*="wave-text-subheadline-bold-small"]

{
	color: var(--kl-text-color) !important;
}

/* svg */
._feedBell_95247e3,
/*Like/Add to playlist icons*/
svg
{
    color: var(--kl-text-color) !important;
	fill: var(--kl-text-color) !important;
}

/* Selected category on sidebar
a[class^="_searchPill_"][class*="_active_"] > span
{
    color: var(--kl-selected-text-color) !important;
} */


[class*="_tableRowSelected"],
[class*="_active_"]:is(a[class^="_sidebarItem_"]),
[class*="_rowContainer"][class*="_selected_"],
[class^="_navigationItem_"][class*="_selected_"],
[class^="_collectionWrapper_"]>[class^="_submenu_"]>[class^="_submenuItem_"][class*="_active_"]
{
  background-color: var(--kl-selected-text-color);
  border-radius: 20px;  /* Rounded edges */
}

/* Currently playing */
[class*=_tableRowIsPlaying_]>div>div>span,
[class*=_tableRowIsPlaying_]>div>span>a,
[class*=_tableRowIsPlaying_]>div>a,
[class*=_tableRowIsPlaying_]>div>time,
[class*=_tableRowIsPlaying_]>div,
[class*=_tableRowIsPlaying_]>div>div,
[class^="_progressBarWrapper_"]
{
	color: var(--kl-currently-playing-color) !important;
}
[class*=_tableRowIsPlaying_]>div>div>button>svg,
[class*=_tableRowIsPlaying_]>div>span>div>span>svg
{
	fill: var(--kl-currently-playing-color) !important;
}

/* Hover category on sidebar */
:is(a._sidebarItem_730d27e,button._sidebarItem_730d27e):hover,
[class^="_rowContainer_"]:hover,
[class^="_tooltipContainer_"]>button:hover,
[class*="_tooltipText_c55e0f6"],
[class*="_bottomRightToolTip_"]:after,
[class*="_tooltipText_c55e0f6"]::after,
._geometry_ade1caf ._fx_e9c441f,
button[class*="_feedBell_"]:hover,
[class*="_selectItem_"]:hover,
[class^="_fxContainer"][class*="css-"],
[class*="_createNewPlaylist_"]:hover,
[class*="_audioQualityContainerHover_"]:hover,
[class^="_feedSidebarItemDiv_"]:hover,
[class^="_buttons_"]>button:hover,
[class^="_buttons_"]>a:hover,
[class^="_tabItem_"]:hover:not([class*="_activeTab_"]) ,
[class^="_headerButtons_"]>button:hover,
[class^="_details_"] > [class*="_contextMenuButton_"]:hover,
button[class^="_clearRecentSearchesButton"]:hover,
div[class^="_searchContainer_"]:hover,
[class^="_container_"]>button[class*="_navigationArrows_"]:hover,
[class^="_container_"]>button[class*="_primary_"]:hover,
[class^="_container_"]>button[class*="_secondary_"]:hover,
[class^="_smallButtons_"] > button:hover,
[class^="_viewAllButton_"]:hover,
[class*="_scrollingButton_"]:hover,
[class^="_searchPills_"]>a[class^="_searchPill_"]:hover:not([class*="_active_"]),
div[class*="_arrowsContainer_"] > button:hover,
div[class*="_arrowsContainer_"] >div>button:hover,
[class^="_primaryButtons_"]>[class^="_marketButton_"]:hover,
[class^="_playlistNavigationItem_"]:hover,
[class^="_navigationItem_"]:hover,
/* collection -> (pop up of playltist,tracks,etc)*/
[class^="_collectionWrapper_"]>[class^="_submenu_"]>[class^="_submenuItem_"]:hover
{
	opacity: 1;
	background-color: var(--kl-hover-text-color) !important;
}
[class^="_tableRow_"]:hover
{
    opacity: 1;
	background-color: var(--kl-hover-text-color) !important;
    border-radius: 20px;  /* Rounded edges */
}

/* artist title color in playing track */
.artist-link
{
	color: var(--kl-artist-color);
}

/* playing from ... */
.wave-text-capital-demi, 
._title_30ce8e7
{
	color: var(--kl-artist-color);
}

/*MyCollection,PLAYLISTS titles*/
._listHeader_27d5796,
._headerText_81dc97f,
/* TrackRadio/CreatedByMe/Artist at the top of home screen */
:is(._shortcutItem_6c8e7b4>:first-child) :nth-child(2),
[class^="_cardContainer_"]>div[class^="_card_"]>div>div[class^="_textWrapper_"]>span,
[class^="_headerColumnSortable_"],
[class^="_headerColumn_"],
[class^="_marketText_"][class*="_paragraph"],
.wave-text-subheadline-bold,
.wave-text-large-title-bold,
[class^="_selectHeader_"],
.playlist-creator[class*="_artistCreatorText_"],
[class^="_trackList_"]>thead>tr>th>span
{
	color: var(--kl-header-text-color) !important;
}


/* overlays */
:is([class^="_background_"] [class^="_image_"]):before 
{
	background-image: none
}

[class^="_headerContainer_"]>[class^="_background_"],
[class^="_thumbnail_"],
[class^="_profilePicture_"],
div[data-test="feed-interval"]>div
{
	background: var(--kl-home-background-color)
}

[class^="_detailContainer_"]
{
    background-color: var(--kl-tile-background-color);
    padding: 20px;
    min-height: 100px;
    width: auto;  /* Adjust the width */
    max-width: 400px;  /* Prevents it from being too wide */
    border-radius: 15px;  /* Rounded corners */
    box-sizing: border-box;  /* Makes padding part of the width */
}

[class^="_actionContainer_"]
{
	margin-top: 30px;
}

[class^="_smallButtons_"]
{
    height: 0%;
}

[class^="_smallButtons_"] > button,
[class^="_actionContainer_"]>[class^="_buttons_"] > button,
[class^="_actionContainer_"]>[class^="_buttons_"] > a
{
  background-color: var(--kl-tile-background-color);
  padding-left: 20px;    
  padding-right: 20px;    
  min-height: 60px;     /* Minimum height */
  max-height: 80px;     /* Maximum height */
  width: auto;  /* Adjust the width */
  max-width: 400px;  /* Prevents it from being too wide */
  border-radius: 15px;  /* Rounded corners */
  box-sizing: border-box;  /* Makes padding part of the width */
  white-space: nowrap; /* Prevents text from wrapping onto a new line */
  position: relative;
}
[class^="_actionContainer_"]>[class^="_buttons_"] > a,
[class^="_actionContainer_"]>[class^="_buttons_"] > button
{
    justify-content: center;
}


/* artist overlay */
[class^="_overlay_"],
[class^="_feed_"] > [class^="_list_"] > [class^="_container_"]> div > div::before
{
	background: linear-gradient(var(--kl-home-background-color), color-mix(
		in srgb,
		var(--kl-tile-background-color),
		transparent 90%
	));
} 

[class^="_shortcutItem_"]::after
{
		background: linear-gradient(var(--kl-home-background-color), color-mix(
		in srgb,
		var(--kl-popup-background-color),
		transparent 1%
	));
}

/*

 Scrollbar  
 
 */
#main::-webkit-scrollbar,
#sidebar::-webkit-scrollbar,
[class*="_playQueueItemsList_"]::-webkit-scrollbar,
[class^="_nativeRange_"][type=range]::-webkit-slider
{
  width: var(--kl-scrollbar-width); /* Adjust the width of the scrollbar */
}

/* For the draggable thumb part */
#main::-webkit-scrollbar-thumb,
#sidebar::-webkit-scrollbar-thumb,
[class*="_playQueueItemsList_"]::-webkit-scrollbar-thumb,
[class^="_nativeRange_"][type=range]::-webkit-slider-thumb
{
  background-color: var(--kl-scrollbar-color); /* Thumb color */
  border: 2px solid var(--kl-scrollbar-border-color); /* Border scrollbar color */
  border-radius: 20px;
}

/* For the track (background) of the scrollbar */
#main::-webkit-scrollbar-track,
#sidebar::-webkit-scrollbar-track,
[class*="_playQueueItemsList_"]::-webkit-scrollbar-track,
[class^="_nativeRange_"][type=range]::-webkit-slider-runnable-track
 {
  background-color: var(--kl-scrollbar-background-color); /* Track color */
  border-radius: 20px;
}
[class^="_nativeRange_"][type=range]::-webkit-slider-thumb
{
	width: 7px; /* Adjust the width of the volume thumb */
}

/* Sidebar */
#sidebar,
#playQueueSidebar,
#feedSidebar,
[class^="_sidebar_"],
[class^="_sidebar_"]>[class^="_sectionHeader_"],
[class^="_container_"]>[class^="_sectionHeader_"],
[class^="_smallHeader_"]::before
{
 	background-color: var(--kl-sidebar-color) !important;
	background-image: none;
}

/* Home background */
#main,
[class^="_smallHeader_"],
[class^="_nowPlayingContainer_"],
[class^="_resultsPageWrapper_"] > div > div[class^="_container_"]::before,
[class^="_resultsPageWrapper_"] > div > div[class^="_container_"]
{
    background: var(--kl-home-background-color) !important;
}

/*Searchresult divider why is it there? */
[class^="_resultsPageWrapper_"] > div > div[class^="_container_"] > div[class^="_divider_"]
{
    background-color: transparent !important;
}


/*

Footer

*/
[class^="_bar_"]
{
	background-color: var(--kl-footer-background-color) !important;
}

#footerPlayer {
	backdrop-filter: blur(var(--blur-radius));
}

#footerPlayer
{
 	background-color: var(--kl-footer-background-color) !important;
}

.neptune-card,
[class^="_tooltipContainer_"]>button,
[class^="_container_"][class*="_fillDark_"]>div,
[class*="_searchFieldWithPopover_"]>div,
#main>div>div[class^="_defaultStyles_"]>div>div[class^="_container_"],
[class^="_myTracks_"]>[class*="_myTracksFilter_"],
[class^="_myTracks_"]>[class*="_myTracksFilter_"]>input::placeholder,
[class^="_container_"] [class*="_searchFieldWithPopover_"] .searchFieldWithinSearchFieldWithPopover,
button[class*="_feedBell_"],
[class^="_buttons_"]>button,
[class^="_headerButtons_"]>button,
[class^="_shortcutItem_"]>div[class^="_iconWrapper_"],
button[class^="_clearRecentSearchesButton"],
[class^="_container_"]>button[class*="_navigationArrows_"],
[class^="_container_"]>button[class*="_primary_"],
[class^="_container_"]>button[class*="_secondary_"],
[class^="_viewAllButton_"],
[class*="_scrollingButton_"],
[class^="_searchPills_"]>a[class^="_searchPill_"],
div[class*="_arrowsContainer_"] > button,
[class^="_shortcutItem_"],
[class*="_addContributionsBanner_"],
[class^="_primaryButtons_"]>[class^="_marketButton_"],
h2[data-test="artist-name"]
{
	color: var(--kl-text-color);
	background-color: var(--kl-tile-background-color) !important;
}

button[class^="_clearRecentSearchesButton"]
{
    border: none;
}


[data-type="page"],
.__NEPTUNE_PAGE {
	padding-bottom: 128px !important;
}

[class^="_containerRow_"] {
	max-height: none !important;
}

[class^="_mainContainer_"] {
	height: 100vh !important;
	background-color: inherit;
}

[class^="_bar_"] {
	position: absolute;
	z-index: 100;
	backdrop-filter: blur(var(--blur-radius));
}




/* popups */

/* 3 dots top left*/
[class^="_contextMenu_"],
[class^="_subMenu_"],
[class^="_dialog_"],
.popoverWithinSearchFieldWithPopover>div[class^="_container_"]
{
	background-color: var(--kl-popup-background-color) !important;
}

/* volume bar background */
[class*="_nativeRange_"]
{
	background-color: var(--kl-popup-background-color) !important;
}

/* collection -> (pop up of playltist,tracks,etc)*/
[class^="_collectionWrapper_"]>[class^="_submenu_"]
{
    background-color: var(--kl-popup-background-color) !important;
}

[class^="_sidebarWrapper_"] {
	padding-bottom: 96px;
}

/* Remove bottom gradient */
[class^="_bottomGradient_"]
{
	background: none;
}

/* Blur background of homepage shortcut items */
@container (width > 200px) {
	[class*="_shortcutItem_"]::after {
		backdrop-filter: blur(8px);
	}
}

._activeTab_f47dafa
{
    background-color: var(--kl-tile-background-color)
}

._dataContainer_66f4f40
{
    margin-top: none !important;
}

/* remove top header on the home page (back/front arrows + search) */
[class^="_contentArea_"] > [class^="_header_"] {
  background-color: var(--kl-sidebar-color); /* slight tint */
  backdrop-filter: blur(8px);
  
}

[class^="_sidebarWrapper"],
/* top header */
 div[class^="_containerRow_"]> div[class^="_contentArea_"],
/* for the main content in the screen like the body */
#main > div.for-cypress__react-router--loaded.mainContent
{
	padding: 30px 0 0 0 !important;
}

/* idk who decided to add a 1px line between header adn sidebar but this is the fix */
[class^="_sidebarWrapper_"]:after
{
    width:0px;
}

[class^="_viewAllButton_"] {
    padding: 6px 12px;               /* vertical | horizontal padding */
    background-color: var(--kl-hover-text-color);
    border-radius: 9999px;           /* makes it fully rounded (pill/oval) */
    transition: background 0.2s ease; /* smooth hover effect */
    align-items: center;
    justify-content: center;
    display: inline-flex;       /* inline with text, but flex container */
  }
